/* This is a compiled file, you should be editing the file in the templates directory */
.pace .pace-progress {
  margin-top: 30px;
  background: #29d;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  height: 4px;

  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}

.header-container:hover .pace .pace-progress .pace-running .pace-active  {
  margin-top: 50px;
}

.pace-inactive {
  display: none;
}
