@keyframes anywhereChange {
	0% {color: white;}
	50% {color: #59B2FF;}
	100% {color: white;}
}

@-webkit-keyframes anywhereChange {
	0% {color: white;}
	50% {color: #59B2FF;}
	100% {color: white;}
}

html, body, iframe, #holder {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	overflow-y: hidden;
	background-color: #2c3e50;
}
.header-container {
	width: 100%;
	background: #2c3e50;
	height: 20px;
	position: fixed;
	top:0;
	left:0;
	display: table;
	-webkit-transition: height .3s ease;
	-moz-transition: height .3s ease;
	-ms-transition: height .3s ease;
	-o-transition: height .3s ease;
	transition: height .3s ease;
}

.header-container:hover {
	height: 50px;
}

#holder {
	margin-bottom: 30px;
	margin-top: 30px;
	-webkit-transition: margin-top .3s ease;
	-moz-transition: margin-top .3s ease;
	-ms-transition: margin-top .3s ease;
	-o-transition: margin-top .3s ease;
	transition: margin-top .3s ease;
}

.header-container:hover + #holder  {
	margin-top: 50px;
}
.top-holder {
	display: table-cell;
	width: 100%;
	text-align: center;
	margin: 0;
	vertical-align: middle;
}

.brand {
	text-shadow: 0 2px rgba(0, 0, 0, 0.4);
	display: inline-block;
	color: #428bca;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	font-size: 20px;
	margin: 0;
	padding: 0;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}



.brand:hover {
	color: #59B2FF;
	cursor: pointer;
}

.header-container:hover .brand {
	font-size: 35px;
} 

#footer {
	display: table;	
	text-align: center;
}
.categories {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	padding: 0;
	text-align: center;
	margin: 0 auto;
}

.categories li {
	text-align: center;
	width: 70px;
	background-color: #59B2FF;
	border-radius: 999px;
	display: inline-block;
	list-style: none;
}

#intro {
	display: table;
	height: 100%;
	width: 100%;
	background: url('../img/lightning.jpg');
	background-size: cover;
	background-position: center;
}

#callout {
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 5em;
	line-height: 1.5em;
	font-weight: 100;
	color: white;
	width: 100%;
}

#anywhere {
	animation: anywhereChange 3s infinite;
	-webkit-animation: anywhereChange 3s infinite;
}

#intro:hover {
	cursor: pointer;
}

iframe {
	display: none;
	overflow: auto;

}

input[name="city"] {
	font-size: 20px;
	font-family: 'Josefin Sans', sans-serif;
	border:none;
	display: table-cell;
	vertical-align: middle;
	background-color: transparent;
	color: white;
	text-align: center;
	-webkit-transition: box-shadow .4s;
	-moz-transition: box-shadow .4s;
    -o-transition: box-shadow .4s;
	transition: box-shadow .4s;
	-webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -ms-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
}

input[name="city"]:focus {
	outline: none;
}